/* VARIABLES
------------ */
$main-gray: #888;
$light-gray: #bbb;
$dark-gray: #444;

$ui-alpha: 0.8;

/* --------- */

html, body {
	margin: 0;
	width: 100vw;
}

#calendarContainer {
	position: relative;
	width: 100%;
	height: 100vh;

	/* TEMPORARY BACKGROUND */
	background: #fff;
	background-image: url('./img/earth-porn-1.jpg');
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
}

#calendar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


/* POPUP STYLING
================ */
#popup {
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;

	z-index: 10;

	opacity: 0;
	transition: none;
	visibility: hidden;

	&.popup-opened {
		transition: opacity 0.2s ease-in 0.05s;
		opacity: 1;
		visibility: visible;
	}

	.popup-content {
		position: relative;
		top: 20%;
		left: -50%;

		display: flex;
		flex-direction: column;
		justify-content: start;

		font-family: "Courier New", Courier, monospace;

		padding: 30px 30px;

		box-sizing: border-box;
		border: 1px solid $main-gray;
		border-radius: 20px;
		background: #fff;

		.popup-scrim {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: rgba(0,0,0,0.5);

			pointer-events: all;
			cursor: pointer;

			z-index: -1;
		}

		.popup-close {
			position: absolute;
			top: 8px;
			right: 8px;

			width: 30px;
			height: 30px;	

			text-align: center;
			line-height: 30px;

			font-size: 24px;
			color: $main-gray;

			cursor: pointer;
			pointer-events: all;

			box-sizing: border-box;
			border: 1px solid transparent;
			border-radius: 10px;

			&:hover {
				border-color: $light-gray;
			}
		}

		.popup-header {
			color: $dark-gray;
			text-align: center;
			font-size: 28px;
			font-weight: 700;
			white-space: nowrap;

			padding: 4px 30px 10px;
		}

		.popup-header-line {
			width: 100%;
			height: 10px;
			border-top: 1px solid $main-gray;
		}

		&.checklist-popup {

			.checklist-greeting {
				color: $dark-gray;
				text-align: center;
				font-size: 18px;
			}

			.checklist-date {
				
			}

			.checklist-container {
				padding: 0 30px;
			}

			.checklist-habit-entry {
				display: flex;
				align-items: center;

				height: 30px;

				color: $dark-gray;
				font-size: 18px;

				margin: 8px 0;

				box-sizing: border-box;
				border-bottom-left-radius: 10px;
				border-bottom: 1px solid $light-gray;

				cursor: pointer;

				&.entry-active {
					font-weight: 700;

					.checklist-checkbox-inner-bg {
						opacity: 1;
					}
				}

				&:not(.entry-active):hover .checklist-checkbox-inner-bg {
					opacity: 0.35;
				}

				.checklist-checkbox {
					display: inline-block;
					width: 30px;
					height: 30px;

					box-sizing: border-box;
					border: 1px solid $main-gray;
					border-radius: 10px;					
				}

				.checklist-checkbox-inner {
					width: 28px;
					height: 28px;

					box-sizing: border-box;
					border: 4px solid;
					border-radius: 9px;
				}

				.checklist-checkbox-inner-bg {
					width: 20px;
					height: 20px;

					opacity: 0;
				}

				.checklist-habit-name {
					padding-left: 12px;
				}
			}
		}

		&.add-habit-popup {

			.habit-name-input {
				width: 300px;
				box-sizing: border-box;

				margin: 10px 30px;
				padding: 8px 12px 4px;

				text-align: center;
				font-size: 18px;
				font-family: "Courier New", Courier, monospace;

				// border-radius: 10px;
				border: none;
				border-bottom: 1px solid $light-gray;

				&:focus {
					outline: none;
				}
				&::placeholder { color: $light-gray; }
				&::-webkit-input-placeholder { color: $light-gray; }
				&::-moz-placeholder { color: $light-gray; }
				&:-ms-input-placeholder { color: $light-gray; }
				&:-moz-placeholder { color: $light-gray; }
			}

			.color-picker-container {
				align-self: center;

				width: 240px;
				height: 240px;

				display: flex;
				flex-direction: column;
				justify-content: space-between;

				// box-sizing: border-box;
				padding: 16px 30px 16px;
			}

			.color-picker-row {
				width: 100%;

				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			.color-picker-option {
				width: 40px;
				height: 40px;

				border: 1px solid $light-gray;
				border-radius: 12px;

				cursor: pointer;

				&.option-unavailable {
					cursor: initial;
					opacity: 0.25;
				}

				&.selected:after {
					content: '';

					display: block;
					background-color: #fff;

					width: 10px;
					height: 10px;

					margin: 15px; 

					box-sizing: border-box;
					border-radius: 10px;
					// border: 1px solid $light-gray;
				}
			}

			.submit-button {
				display: block;

				text-align: center;
				font-size: 18px;

				margin: 16px 0 0;
				padding: 10px 20px;

				box-sizing: border-box;
				border: 1px solid $main-gray;
				border-radius: 12px;

				cursor: pointer;

				&.inactive-button {
					opacity: 0.25;
					background-color: $light-gray;
				} 

				&:hover {
					border: 1px solid $light-gray;
				}
			}
		}
	}
}




/* SVG GENERAL CLASSES
====================== */
svg text.text-vert-central {
	dominant-baseline: central;
}

svg .hover-show {
	pointer-events: fill;
	
	&:not(:hover) {
		opacity: 0;
	}
}
/* =================== */



svg text {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
}
svg text:not(.selectable) {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
		   -moz-user-select: none; /* Firefox */
		    -ms-user-select: none; /* Internet Explorer/Edge */
		        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* CALENDAR
----------- */
svg #monthHeader {
	font-size: 52px;
	pointer-events: all;
}
svg #monthShift {
	font-size: 48px;
}

svg .date-circle {
	pointer-events: fill;
	cursor: pointer;

	opacity: $ui-alpha;

	&.focus-date {
		opacity: 1;

		.use-stroke {
			stroke: $dark-gray;
		}
		text {
			fill: $dark-gray;
		}
		.focus-circle {
			display: initial;
		}
	}

	.use-stroke {
		stroke: $main-gray;
	}
	text {
		fill: $main-gray;
	}
	.focus-circle {
		display: none;
	}

	.date-slice {
		display: none;

		&.date-slice-active {
			display: initial;
		}
	}
}

/* HABIT VIEWER 
--------------- */
svg .habit-text {
	display: none;
}
svg #habitSlice {
	pointer-events: fill;
}
svg #habitSlice:hover + .habit-text {
	display: initial;
}


/* HABIT LIST
------------- */
svg #habitListContainer {
	opacity: 0.8;
 
	text {
		fill: $main-gray;
	}
}

svg #habitListHeader {
	text {
		font-size: 28px;
	}

	line {
		stroke: $main-gray;
	}
}

svg #habitListContainer #addHabitButton {
	text {
		pointer-events: none;
	}
	
	rect {
		fill: transparent;
		stroke: $main-gray;
		stroke-width: 1;
		cursor: pointer;

		&:active {
			fill: rgba(255,255,255,0.25);
		}
	}
}

svg #habitList {
	text {
		font-size: 18px;
	}

	.habit-list-entry {
		line {
			stroke: $light-gray;
			stroke-width: 1;
		}
		rect {
			stroke: $main-gray;
			stroke-width: 1;
		}
	}
}