/* VARIABLES
------------ */
/* --------- */
html, body {
  margin: 0;
  width: 100vw;
}

#calendarContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  /* TEMPORARY BACKGROUND */
  background: #fff;
  background-image: url("./img/earth-porn-1.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}

#calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform-origin: center center;
  pointer-events: none;
}

#graphics {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: move;
  pointer-events: all;
}

/* POPUP STYLING
================ */
#popup {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  transition: none;
  visibility: hidden;
}
#popup.popup-opened {
  transition: opacity 0.2s ease-in 0.05s;
  opacity: 1;
  visibility: visible;
}
#popup .popup-content {
  position: relative;
  top: 15%;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: "Courier New", Courier, monospace;
  padding: 30px 30px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 20px;
  background: #fff;
}
#popup .popup-content .popup-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  cursor: pointer;
  z-index: -1;
}
#popup .popup-content .popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  pointer-events: all;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
}
#popup .popup-content .popup-close:hover {
  border-color: #bbb;
}
#popup .popup-content .popup-header {
  color: #444;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  padding: 4px 30px 10px;
}
#popup .popup-content .popup-header-line {
  width: 100%;
  height: 10px;
  border-top: 1px solid #888;
}
#popup .popup-content.checklist-popup .checklist-greeting {
  color: #444;
  text-align: center;
  font-size: 18px;
}
#popup .popup-content.checklist-popup .checklist-container {
  padding: 0 30px;
}
#popup .popup-content.checklist-popup .checklist-habit-entry {
  display: flex;
  align-items: center;
  height: 30px;
  color: #444;
  font-size: 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
#popup .popup-content.checklist-popup .checklist-habit-entry.entry-active {
  font-weight: 700;
}
#popup .popup-content.checklist-popup .checklist-habit-entry.entry-active .checklist-checkbox-inner-bg {
  opacity: 1;
}
#popup .popup-content.checklist-popup .checklist-habit-entry:not(.entry-active):hover .checklist-checkbox-inner-bg {
  opacity: 0.35;
}
#popup .popup-content.checklist-popup .checklist-habit-entry .checklist-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 10px;
}
#popup .popup-content.checklist-popup .checklist-habit-entry .checklist-checkbox-inner {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 4px solid;
  border-radius: 9px;
}
#popup .popup-content.checklist-popup .checklist-habit-entry .checklist-checkbox-inner-bg {
  width: 20px;
  height: 20px;
  opacity: 0;
}
#popup .popup-content.checklist-popup .checklist-habit-entry .checklist-habit-name {
  padding-left: 12px;
}
#popup .popup-content.add-habit-popup .habit-name-input {
  width: 300px;
  box-sizing: border-box;
  margin: 10px 30px;
  padding: 8px 12px 4px;
  text-align: center;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  border: none;
  border-bottom: 1px solid #bbb;
}
#popup .popup-content.add-habit-popup .habit-name-input:focus {
  outline: none;
}
#popup .popup-content.add-habit-popup .habit-name-input::placeholder {
  color: #bbb;
}
#popup .popup-content.add-habit-popup .habit-name-input::-webkit-input-placeholder {
  color: #bbb;
}
#popup .popup-content.add-habit-popup .habit-name-input::-moz-placeholder {
  color: #bbb;
}
#popup .popup-content.add-habit-popup .habit-name-input:-ms-input-placeholder {
  color: #bbb;
}
#popup .popup-content.add-habit-popup .habit-name-input:-moz-placeholder {
  color: #bbb;
}
#popup .popup-content.add-habit-popup .color-picker-container {
  align-self: center;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 30px 16px;
}
#popup .popup-content.add-habit-popup .color-picker-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#popup .popup-content.add-habit-popup .color-picker-option {
  width: 40px;
  height: 40px;
  border: 1px solid #bbb;
  border-radius: 12px;
  cursor: pointer;
}
#popup .popup-content.add-habit-popup .color-picker-option.option-unavailable {
  cursor: initial;
  opacity: 0.25;
}
#popup .popup-content.add-habit-popup .color-picker-option.selected:after {
  content: "";
  display: block;
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}
#popup .popup-content.add-habit-popup .submit-button, #popup .popup-content.add-habit-popup .remove-button {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 16px 0 0;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 12px;
  cursor: pointer;
}
#popup .popup-content.add-habit-popup .submit-button.inactive-button, #popup .popup-content.add-habit-popup .remove-button.inactive-button {
  opacity: 0.25;
  background-color: #bbb;
}
#popup .popup-content.add-habit-popup .submit-button:hover, #popup .popup-content.add-habit-popup .remove-button:hover {
  border: 1px solid #bbb;
}

/* SVG GENERAL CLASSES
====================== */
svg text.text-vert-central {
  dominant-baseline: central;
}

svg .hover-show {
  pointer-events: fill;
}
svg .hover-show:not(:hover) {
  opacity: 0;
}

/* =================== */
svg text {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

svg text:not(.selectable) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* CALENDAR
----------- */
svg #monthHeader {
  font-size: 52px;
  pointer-events: all;
}

svg #monthShift {
  font-size: 48px;
}

svg .date-circle {
  pointer-events: fill;
  cursor: pointer;
  opacity: 0.8;
}
svg .date-circle.focus-date {
  opacity: 1;
}
svg .date-circle.focus-date .use-stroke {
  stroke: #444;
}
svg .date-circle.focus-date text {
  fill: #444;
}
svg .date-circle.focus-date .focus-circle {
  display: initial;
}
svg .date-circle .use-stroke {
  stroke: #888;
}
svg .date-circle text {
  fill: #888;
}
svg .date-circle .focus-circle {
  display: none;
}
svg .date-circle .date-slice {
  display: none;
}
svg .date-circle .date-slice.date-slice-active {
  display: initial;
}

/* HABIT VIEWER 
--------------- */
svg .habit-text {
  display: none;
}

svg #habitSlice {
  pointer-events: fill;
}

svg #habitSlice:hover + .habit-text {
  display: initial;
}

/* HABIT LIST
------------- */
svg #habitListContainer {
  opacity: 0.8;
}
svg #habitListContainer text {
  fill: #888;
}

svg #habitListHeader text {
  font-size: 28px;
}
svg #habitListHeader line {
  stroke: #888;
}

svg #habitListContainer #addHabitButton text {
  pointer-events: none;
}
svg #habitListContainer #addHabitButton rect {
  fill: transparent;
  stroke: #888;
  stroke-width: 1;
  cursor: pointer;
}
svg #habitListContainer #addHabitButton rect:active {
  fill: rgba(255, 255, 255, 0.25);
}

svg #habitList text {
  font-size: 18px;
}
svg #habitList .habit-list-entry {
  cursor: pointer;
  pointer-events: all;
}
svg #habitList .habit-list-entry:hover line {
  stroke: #888;
}
svg #habitList .habit-list-entry line {
  stroke: #bbb;
  stroke-width: 1;
}
svg #habitList .habit-list-entry .habit-color-rect {
  stroke: #888;
  stroke-width: 1;
}

/*# sourceMappingURL=style.css.map */
